<html>
<head></head>
<body>
<h1>santa! :D</h1>

<ul>
  <li><%= email %></li>
  <li><%= name %></li>
  <li><%= buyFor %></li>
  <li><%= event.date %></li>
  <li><%= event.name %></li>
  <li><%= event.cash %></li>
</ul>
</body>
</html>
