!!! 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
//if IE 8
  <html class="no-js lt-ie9" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
// [if gt IE 8] <!
html(class="no-js", lang="en", xmlns:og="http://opengraphprotocol.org/schema/", xmlns:fb="http://www.facebook.com/2008/fbml")
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name="viewport", content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')

    meta(name="description", content="Memo from Santa")
    meta(name="author", content="Joris Ooms & Seeger Mattijs")
    meta(property="fb:app_id", content="389376211197256")

    - var site = {title: 'Memo from Santa', url: 'http://memofromsanta.com', image: 'http://memofromsanta.com/img/og.jpg', description: 'Memo from Santa! Help Santa out by organising your own Secret Santa party!'}
    each val, key in site
      meta(property='og:'+'#{key}', content='#{val}')

    link(rel="icon", href="img/favicon.ico", type="image/x-icon")

    title=title
    if env === 'development'
      //- build:css app/css/santa.min.css
      link(rel="stylesheet", href="/css/jquery-ui.min.css")
      link(rel='stylesheet', href='/css/main.css')
      //- endbuild
    else
      link(rel="stylesheet", href="/css/santa.min.css")
      script.
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{ga.code}']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  body(ng-app="SecretSantaApp")
    a#github(href="https://github.com/cabaret", title="Github", target="_blank")
      img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", alt="Fork me on GitHub")
    header.header
      img(src="/img/logo.svg", alt="Memo from Santa logo", width="208", height="243").logo__img
      h1.logo__text Memo from Santa

    section.memo
      div.container
        p.col-xs-12.memo__letter
          span.headline Help, Rudolph has gone missing!
          | Santa Claus won't be able to deliver presents in time. Will you help him out?
          | Fill in the names of you and your friends and the details of your Christmas party.
          | We'll make sure everyone knows whom to buy a present for!

    block content

    footer.footer.col-xs-12
      div.col-xs-12.col-sm-6.col-md-3.col-md-push-3.credit.joris
        p.credit__author Joris Ooms
        p.credit__skill Development
        ul.social
          - var social = [{ 'name': 'github', 'url': 'https://github.com/cabaret' }, {'name': 'twitter', 'url': 'https://twitter.com/ontolecabaret' }, {'name': 'linkedin', 'url': 'http://www.linkedin.com/in/oomsjoris' }, { 'name': 'instagram', 'url': 'http://instagram.com/dinosaursinspace' }]
          - for network in social
              li.social__item
                a(href="#{network.url}", title="#{network.name}", target="_blank")
                  i(class="social__icon icon--#{network.name}")
      div.col-xs-12.col-sm-6.col-md-3.col-md-push-3.credit.seeger
        p.credit__author Seeger Mattijs
        p.credit__skill Design
        ul.social
          - var social = [{ 'name': 'dribbble', 'url': 'http://dribbble.com/seegermattijs' }, { 'name': 'twitter', 'url': 'https://twitter.com/SeegerMattijs' }, { 'name': 'linkedin', 'url': 'http://be.linkedin.com/pub/seeger-mattijs/48/284/745' }, { 'name': 'instagram', 'url': 'http://instagram.com/seegermattijs' }]
          - for network in social
              li.social__item
                a(href="#{network.url}", title="#{network.name}", target="_blank")
                  i(class="social__icon icon--#{network.name}")


      div.social-shares.col-xs-12
        div.addthis_toolbox.addthis_default_style.social-shares__toolbox
          a.addthis_button_preferred_1
          a.addthis_button_preferred_2
          a.addthis_button_preferred_3
          a.addthis_button_preferred_4
          a.addthis_button_compact
          a.addthis_counter.addthis_bubble_style

    if env === 'development'
      script(src='http://localhost:35729/livereload.js')
      //- build:js app/js/santa.min.js
      script(src='/vendor/jquery/jquery.min.js')
      script(src='/vendor/jquery-ui/ui/minified/jquery-ui.min.js')
      script(src='/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js')
      script(src="/vendor/sass-bootstrap/dist/js/bootstrap.min.js")
      script(src='/vendor/angular/angular.js')
      script(src='/vendor/angular-ui-slider/src/slider.js')
      script(src="/vendor/angular-strap/dist/angular-strap.min.js")
      script(src="/vendor/angular-strap/vendor/bootstrap-datepicker.js")
      script(src='/vendor/underscore/underscore-min.js')
      script(src='/vendor/angular-underscore-module/angular-underscore-module.js')
      script(src='/js/app.js')
      script(src='/js/services.js')
      script(src='/js/controllers.js')
      script(src='/js/directives.js')
      //- endbuild
    else
      script(src='/js/santa.min.js')
      script.
        var addthis_config = addthis_config || {};
        addthis_config.data_track_addressbar = false;
        addthis_config.data_track_clickback = false;
        var addthis_share = {
          url: "http://memofromsanta.com",
          description: "Memo from Santa! Help Santa out by organising your own Secret Santa party!",
          templates: {
            twitter: 'Memo from Santa! Help Santa out by organising your own Secret Santa party! {{url}} #memofromsanta',
            facebook: 'Memo from Santa! Help Santa out by organising your own Secret Santa party! {{url}} #memofromsanta'
          }
        }
      script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-529dd1ce6158d340")
